body , head {
    margin: 0;
}
.header {
    width: 400px;
    height: 100px;
    background: blue;
}
.nav {
    width: 400px;
    height: 50px;
    background: blueviolet;
}
.fat {
    width: 400px;
    height: 300px;
    background: yellow;
    display: flex;
}
.ma {
    width: 300px;
    height: 300px;
    background: chartreuse;
}
.na {
    width: 100px;
    height: 300px;
    background: pink;
}
.footert {
    width: 400px;
    height: 100px;
    background: deeppink;
}