body, html {
    margin: 0;
}

.one {
    background: #4b4b07;
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}


.a {
    width: 1000px;
    height: 200px;
    background: deeppink;
}

.b {
    width: 200px;
    height: 400px;
    background: brown;
    flex-basis: 75%;
}

.c {
    width: 200px;
    height: 400px;
    background: aqua;
    flex-basis: 25%;
}